@use './HarmonyOS_Font.scss';

html,
body {
  font-family: 'HarmonyOS Sans SC', 'HarmonyOS_Regular', system-ui,
    —apple-system, Segoe UI, Rototo, Helvetica, Arial, sans-serif !important;
}

.arco-message {
  border-radius: 8px !important;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc !important;
}
